* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  font-family: sans-serif;
}

nav {
  display: flex;
  justify-content: center;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 20px;
}

nav ul li a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  color: #36b37e;
  transition: 0.3s;
}

.nav-list {
  text-align: center;
  margin-top: 20px;
  display: none;
}

.hero-comtain {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 170px 50px 0px 50px;
  background-image: url("header-illsutration-mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh;
}

.background-container {
  width: 100%;
  height: 100%;
}

.contain {
  font-size: 1.1rem;
  line-height: 1.6rem;
  font-weight: 500;
  margin-top: 70px;
}

h1 {
  font-size: 40px;
  color: #172b42;
  font-weight: 700;
  margin-bottom: 20px;
  line-height: 52px;
  /* padding: 0px 15px; */
}

span {
  color: #36b37e;
}

.hero-paragraph {
  color: #172b4d;
  font-size: 20px;
  line-height: 28px;
}

.icons {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.icons a {
  margin: 0 10px;
  color: #505f79;
}

.icons a i {
  width: 14.17px;
  height: 19.62px;
}

.hero-srolldown {
  display: inline-block;
  border-radius: 25px;
  padding: 10px;
  border: 1px solid #dfe1e6;
}

.hero-srolldown a {
  color: #505f79;
}

@media only screen and (min-width: 600px) {
  .nav-list {
    display: block;
  }

  .nav-icon {
    display: none;
  }

  .header-containt {
    margin-top: 10px;
  }

  .hero-comtain {
    padding-top: 90px;
  }
}

/* Style the navigation icon */
.nav-icon {
  display: block;
  text-align: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 10px;
}

.nav-icon i {
  color: black;
  font-size: 20px;
}

/* Adjust the positioning of the icon and list for mobile */
@media only screen and (max-width: 600px) {
  .nav-icon {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 999;
  }

  .nav-list {
    margin-top: 70px;
  }
}
